* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-titulo-1 {
    width: 749px;
    height: 122px;
    margin: 0 auto;
    padding-top: 20px;
}

h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 39px;
    color: #000;
}

.container-introducao {
    width: 749px;
    height: 200px;
    margin: 0 auto;
}

.paragrafo-introducao {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    color: #222;
}

.tabela-verde {
    width: 724px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.tabela-superior {
    text-align: center;
    border: 3px solid #2B903C;
    border-radius: 27px;
    height: 210px;
    width: 320px;
    padding: 8px 5px 0 0;
    margin: 0 auto;
}

.container-titulo-2 {
    width: 320px;
    height: 50px;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #222;
    padding-top: 5px;
}

.container-paragrafo-tabela {
    width: 300px;
    height: 145px;
    margin: 0 auto;
}

.paragrafo-tabela {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.ligacao {
    width: 429px;
    height: 53px;
    margin: 0 auto;
}

.tabela-inferior {
    width: 322px;
    height: 180px;
    display: contents;
}

.tab-esquerda {
    text-align: center;
    border: 3px solid #2B903C;
    border-radius: 27px;
    height: 210px;
    width: 320px;
    padding: 8px 5px 0 0;
    margin: 0 auto;
    float: left;
}

.tab-direita {
    text-align: center;
    border: 3px solid #2B903C;
    border-radius: 27px;
    height: 210px;
    width: 320px;
    padding: 8px 5px 0 0;
    margin: 0 auto;
    float: right;
}

.container-abas {
    margin: 0 auto;
    width: 750px;
}

.cabecalho-aba {
    width: 750px;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}

.cabecalho-aba ul {
    list-style: none;

}

.item-lista-cabecalho-aba {
    float: left;
}

.cabecalho-aba label {
    display: inline-block;
    background: #EAEBEE;
    border: 1px solid #C4C4C4;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-bottom: 1px;
    text-align: center;
}