* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-titulo-1 {
    width: 749px;
    height: 122px;
    margin: 0 auto;
    padding-top: 20px;
}

h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 39px;
    color: #000;
}

.container-introducao {
    width: 749px;
    height: 200px;
    margin: 0 auto;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    color: #222;
}
